/* Basic Styles for the whole page */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 1px;
    padding: 1px;
  }
  
  .container {
    width: auto;
    height: 100px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    
    text-align: center;
   
    text-size-adjust: auto;
    color: #2bba26;
    
  }
  
  /* Table Styles */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border: 2px solid #ddd;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tr:hover {
    background-color: greenyellow;
  }
  
  /* Buttons */

  
  /* Styling for Add Row Button */
  .table-actions {
    text-align: right;
    margin-bottom: 20px;
  }
